{
    "extends": "airbnb-base",
    "env": {
       "es6": true,
       "browser": true,
       "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "default-case": 0,
        "no-console": "off",
        "no-unused-vars": "off",
        "func-names": ["error", "never"],
        "max-classes-per-file": [
            "error",
            { "ignoreExpressions": true, "max": 7 }
        ],
        "import/extensions": [0, "js","always" ],
        "import/prefer-default-export": "off",
        "no-param-reassign": 0,
        "no-shadow": "off",
        "max-len": ["error", { "code": 400 }]
    }
    
  }